
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.formClass{
    background-color: #F3F3F3;
}
.formClass input{
    width: 800px;
    outline: none; 
    background-color: #F3F3F3;      
}
.modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}
.sign{
    background-color: #fff;
    width: 33%;
    position: relative;
}
.other{
    position: relative;
    width: 100%;
}
.other::before{
    content: "";
    position: absolute;    
    border: 2px solid grey;
}